*
!bin/
!bin/**
!config/
!config/**
!docker/
!docker/**
!docs/
!docs/**
!modules/
!modules/**
!src/
!src/**
!gui/
!gui/**
gui/node_modules/
!.vscode/
!.vscode/**
!CLAUDE.md
!README.md
!app.sh
!install.sh
!release.sh
!pom.xml
!.gitignore
!.sync
!uninstall.sh